@import url(https://fonts.googleapis.com/css?family=Poppins:regular);

html {
   box-sizing: border-box;
   scroll-behavior: smooth;
   height: 100%;
   overflow: hidden;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

a {
   text-decoration: none;
   color: inherit;
}

ul,
ol,
li {
   list-style: none;
   margin: 0;
   padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   font-size: inherit;
   font-weight: 400;
}

body {
   position: relative;
   min-width: 320px;
   color: #fff;
   font-family: 'Poppins', sans-serif;
   font-size: 24px;
   line-height: 1.2;
   font-weight: 400;   
   background-image: linear-gradient(120deg, #552e88, #180544);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #552e88;   
   padding: 0;
   margin: 0;
   overflow: hidden;  
   min-height: 100%;
   display: grid;   
   grid-template-rows: auto auto 1fr auto;
   grid-template-areas:
    "header"    
    "main"
    "list"    
    "footer";   
}

.container {
   max-width: 1230px;
   padding: 0 15px;
   margin: 0 auto;
}

.header {
   grid-area: header;
}

.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
}

.logo__icon {
   width: 75px;
   height: 32px;
   z-index: 1;
}

.user__icon {
   width: 32px;
   height: 32px;
   fill: #fff;
   transition: fill 0.3s ease;
   z-index: 1;
}

.user__icon:hover {
   fill: rgb(153, 153, 153);
}

.main {
   padding: 5vh 0;
   grid-area: main;
}

.main__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   padding: 1rem;
}

.main__title {
   font-size: 3rem;
   margin-bottom: 2vh;
   z-index: 1;
}

.main__form {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.main__input {
   font-size: 1.5rem;
   background-color: #fff;
   border: none;
   color: #180544;
   padding: 1rem 5rem 1rem 1rem;
   z-index: 1;
}

.main__button {
   position: absolute;
   padding: 0.97rem;
   border: none;
   background-color: #fff;
   cursor: pointer;
   transition: all 0.3s ease;
   top: 0;
   right: 15.03rem;
   z-index: 1;
}

.list {
   grid-area: list;
}

.list__inner {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2vh 0;   
}

.list__items {
   display: block;
   min-width: 50%;
   overflow-y: auto;
   max-height: 40vh;
   z-index: 1;
}

.list__item {   
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 0.5rem;
   background-color: #fff;
   transition: all 0.5s ease;   
   z-index: 1;
}

.list__button-completed,
.list__button-delete {
   padding: 0.96rem;   
   cursor: pointer;
   transition: all 0.3s ease;
   border: none;   
   align-self: stretch;
   z-index: 1;
}

.main__icon,
.list__icon-completed,
.list__icon-delete {
   display: block;
   width: 30px;
   height: 30px;
   border-radius: 0.2rem;
   padding: 0.2rem;
}

.main__icon {
   fill: #180544;
   border: 0.2rem solid #180544;
}

.list__icon-completed,
.list__icon-delete {   
   fill: #fff;
   border: 0.2rem solid #fff;
   pointer-events: none;
}

.main__button:hover {
   background-color: #180544;
}

.main__button:hover .main__icon {
   fill:#fff;
   border: 0.2rem solid #fff;
}

.list__item-text {
   padding: 1rem;
   background-color: #fff;
   border: none;
   color: #180544;
   flex: 1;
   white-space: initial;
   overflow-wrap: break-word;
   word-wrap: break-word;
   max-width: 90;
   z-index: 1;
}

.list__item--completed {
   text-decoration: line-through;
   opacity: 0.5;
}

.list__button-completed {
   background-color: rgb(72, 197, 72);
   color: #fff;
}

.list__button-delete {
   background-color: rgb(211, 65, 65);
}

.list__button-completed:hover,
.list__button-completed:hover .list__icon-completed {
   background-color: rgb(64, 170, 64);
}

.list__button-delete:hover,
.list__button-delete:hover .list__icon-delete {
   background-color: rgb(148, 51, 51);
}

.fall {
   transform: translateZ(4rem) rotateX(-90deg);
   opacity: 0;
}

.main__select {
   margin-left: 1rem;
   position: relative;
   overflow: hidden;
   z-index: 1;
}

.main__filter {
   appearance: none;
   outline: none;
   border: none;
   cursor: pointer;
   color: #180544;
   width: 14rem;
   padding: 1.1rem;
   font-size: 1.2rem;
   z-index: 1;
}

.main__select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   background-color: #fff;
   color: #180544;
   pointer-events: none;
   padding: 1.1rem;
   transition: background-color 0.3s ease;
   transform: rotateX(0);
   z-index: 1;
}

.main__select:hover::after {
   background-color: #180544;
   color: #fff;
}

.footer {
   padding: 2vh 0;
   font-size: 0.5rem;
   color: rgba(211, 211, 211, 0.7);   
   grid-area: footer;
}

.footer__inner {
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
}

@media (max-width: 992px) {
   .list__inner {
      padding: 0rem 1rem 2rem;
   }

   .list__items,
   .list__item {
      width: 100%;
   }
}

@media (max-width: 588px) {
   .main__input {
      margin-bottom: 1rem;
      width: 100%;
   }

   .main__button {
      right: 0;
   }
}

.circle1,
.circle2,
.circle3 {
   z-index: 0;
}

.circle1 {
   position: absolute;
   width: 40vw;
   height: 40vw;   
   border-radius: 50%;   
   border: 10px dotted rgb(160, 233, 101);
   top: 50%;
   left: 50%;
   animation-duration: 125s;
   animation-name: rotate;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   opacity: 0.2;
 }
 
 .circle2 {
   position: absolute;
   border: 10px dashed rgb(81, 81, 136);
   border-radius: 50%;
   width: 50vw;
   height: 50vw;
   top: 8%;
   left: 10%;
   transform: translate(-50%, -50%);
   animation-duration: 30s;
   animation-name: rotate;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   opacity: 0.4;
 }
 
 .circle3 {
   position: absolute;
   border: 10px dotted #fff;
   border-radius: 50%;
   width: 40vw;
   height: 40vw;
   top: 20%;
   left: 80%;
   transform: translate(-50%, -50%);
   animation-duration: 125s;
   animation-iteration-count: infinite;
   animation-name: rotateCounter;
   animation-timing-function: linear;
   opacity: 0.3;
 }

 .circle4 {
   position: absolute;
   border: 10px dotted #fff;
   border-radius: 50%;
   width: 40vw;
   height: 40vw;
   top: 28%;
   left: 20%;
   transform: translate(-50%, -50%);
   animation-duration: 95s;
   animation-iteration-count: infinite;
   animation-name: rotateCounter;
   animation-timing-function: linear;
   opacity: 0.2;
 }

 .circle5 {
   position: absolute;
   border: 10px dashed rgb(81, 81, 136);
   border-radius: 50%;
   width: 50vw;
   height: 50vw;
   top: 15%;
   left: 70%;
   transform: translate(-50%, -50%);
   animation-duration: 80s;
   animation-name: rotate;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   opacity: 0.4;
 }
 
 .circle6 {
   position: absolute;
   width: 40vw;
   height: 40vw;   
   border-radius: 50%;   
   border: 10px dotted rgb(236, 92, 92);
   top: 30%;
   left: 20%;
   animation-duration: 125s;
   animation-name: rotate;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   opacity: 0.3;
 }

 @keyframes rotate {
   0% {
     transform: rotateZ(0deg);
   }
   
   100% {
       transform: rotateZ(359deg);
   }
 }
 
 @keyframes rotateCounter {
   0% {
     transform: rotateZ(0deg);
   }
   
   100% {
       transform: rotateZ(-359deg);
   }
 }